<html lang="en">
<head>
</head>
<body>












    <title>Carlos Ramírez</title>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <!-- Favicon -->
    <link rel="icon" href="/img/core-img/favicon.ico">
    <!-- Style CSS -->
    <link href="/style.css" rel="stylesheet">

    <!-- Preloader -->
    <!-- Subscribe Modal -->
    <!-- ##### Barra navegacion ##### -->
    <header class="header-area">
        <!-- Nav Area -->
        <div id="stickyNav-sticky-wrapper" class="sticky-wrapper" style="height: 100px;">
            <div class="original-nav-area" id="stickyNav" style="width: 1349px;">
                <div class="classy-nav-container breakpoint-off light left">
                    <div class="container">

                        <!-- Classy Menu -->
                        <nav class="classy-navbar justify-content-between">

                            <!-- Breaking News Area -->

                            <div class="col-2">
                                <div class="breaking-news-area">
                                    <div id="breakingNewsTicker" class="ticker" style="height: 24px;">
                                        <ul>




                                            <li class="tickerHook" style="top: 0px; left: 0px; position: absolute; display: block; opacity: 1; z-index: 99;"><a href="index"><img src="/img/logo.png" alt=""></a></li>
                                            <li class="" style="top: -3em; left: 0px; position: absolute; display: block; opacity: 0; z-index: 98;"><a href="index">Bienvenido a</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="" id="search-wrapper">
                                <form action="#">
                                    <input type="text" id="search" placeholder="Busca algo...">
                                    <div id="close-icon" style="display: none;" class=""></div>
                                    <input class="d-none" type="submit" value="">
                                </form>
                            </div>

                            <!-- Menu -->
                            <div class="classy-menu" id="originalNav">
                                <!-- close btn -->
                                <div class="classycloseIcon">
                                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                </div>
                                <!-- Nav Start -->
                                <div class="classynav">
                                    <ul>
                                        <li><a href="perfil">Perfil</a></li>
                                        <li><a href="index">Inicio</a></li>
                                        <li><a href="coming-soon.html">Explorar</a></li>
                                    </ul>
                                </div>
                                <!-- Nav End -->
                            </div>
                            <!-- Top Social Area -->
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="container mt-30" style="
    border: 1px solid silver; max-width:977px; min-width:600px;
">
        <div class="row">
            <!-- Single Blog Area  -->
            <div class="col-12 single-blog-area blog-style-2 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="row">
                    <div class="" style="width:640px;">
                        <div class="single-blog-thumbnail align-items-center">
                            <img alt="" src="https://scontent-scl1-1.cdninstagram.com/vp/803d8f6a2f9c3c60a90553bbd91d6c8e/5C98C6CC/t51.2885-15/e35/40653865_304363493683941_9022640446333142937_n.jpg">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <!-- Blog Content -->
                        <div class="col-12 row mt-15 mb-15 align-items-center">
                            <div class=""><img class="" src="https://scontent-scl1-1.cdninstagram.com/vp/ba2359ef4cf5ca7ffdd9f951453ff4ea/5CB04331/t51.2885-19/s150x150/28158854_1362953423810945_7916385889222131712_n.jpg" alt="Foto del perfil de lostkarr_" style="border-radius: 50%; width:30px; margin-left:15px"></div>
                            <div class="col-sm-9"><a href="perfil" class="font-bold">Lostkar190</a></div>

                        </div>
                        <div style="border-bottom:1px solid silver"></div>
                        <div class="col-12 mt-15">
                            <a href="perfil" class="font-light">Lostkar190</a>
                            <p class="font-light">
                                Jai guru deva om
                                Nothing's gonna change my world.
                            </p>
                        </div>
                        <div class="col-12 mt-15">
                            <a href="perfil" class="font-light">Kathy_</a>
                            <p class="font-light">
                                Ti amo!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ##### Instagram Feed Area End ##### -->
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">

                </div>
            </div>
        </div>

        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright ©
        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

    </footer>
    <!-- ##### Footer Area End ##### -->
    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>

    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script><a id="scrollUp" href="#top" style="display: none; position: fixed; z-index: 2147483647;">Top</a><a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647; display: none;">Top</a>

</body>
</html>